{% extends 'basicapp/base.html' %}

{% block title %} Latest reqests {% endblock %}
{% block body %}
<table summary="Latest request logs" border="0" cellspacing="0" cellpadding="0">
  <caption><em>Latest request logs</em></caption>
  <thead>
    <tr>
      <th class="span-4">date</th>
      <th class="span-2">Method</th>
      <th class="span-4">Path</th>
      <th class="span-2">Remote address</th>
      <th class="span-5">User agent</th>
      <th class="span-4">Referer</th>
      <th class="span-1 last"><a href="{% url basicapp:logs %}?c={{ c }}">Priority</a></th>
    </tr>
  </thead>
  <tbody>
  {% for l in logs %}
    <tr>
      <td>{{ l.date }}</td>
      <td>{{ l.method }}</td>
      <td>{{ l.path }}</td>
      <td>{{ l.remote_addr }}</td>
      <td>{{ l.user_agent }}</td>
      <td>{{ l.referer }}</td>
      <td>{{ l.priority }} <a href="{% url basicapp:change_priority lid=l.pk %}" title="change priority" style="text-decoration: none;">↕</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}