{% extends "basicapp/base.html" %}
{% block body %}
  <h1>42 Coffee Cups Test Assignment</h1>
  <hr>
  <div id="login" class="span-4 prepend-20 last">
      {% if request.user.is_authenticated %}
        <p>Hello, <em>{{ request.user.username }}</em></p>
        <p><a href="#TODO">Edit</a></p>
      {% else %}
        <a href="{% url django.contrib.auth.views.login %}?next={{ request.path_info }}">Login</a>
      {% endif %}
  </div>
  <div class="span-12 first">
    <p>{{ profile.user.first_name }}</p>
    <p>{{ profile.user.last_name }}</p>
    <p>{{ profile.birthday }}</p>
    <p><strong>Bio</strong>:</p>
    <p>{{ profile.bio|safe }}</p>
  </div>
  <div class="span-12 last">
    <p>Contacts</p>
    <p><strong>Email</strong>: {{ profile.user.email }}</p>
    <p><strong>Jabber</strong>: {{profile.jabber }}</p>
    <p><strong>Skype</strong>: {{ profile.skype }}</p>
    <p><strong>Other contacts</strong>:</p>
    {{ profile.other_contacts|linebreaks }}
  </div>
  <div class="span-24 last">
    <a href="{% url basicapp:logs %}">Request logs</a>
  </div>
{% endblock %}